/* Apply styles to password input */

input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

input[type="text"] {
    background: #cccccc;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}



/* Additional styling for password strength indicators, if needed */
