<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %} |Disaster Management</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'contactus.css' %}">
    <link rel="stylesheet" href="{% static 'password.css' %}">
</head>
<body>
<header>
    <nav style=" background-color: #161616; text-align: left; padding-top: 30px; font-size: 20px;padding-left: 20px;">
       <div align="left>"> <a href='/index'>Home</a>
        <a href="/contactus">Contact Us</a>
        <a href="/blog">Blog</a>
        </div>
        <div align="right">
        <a type="button" href="/login">Login</a>
        <a type="button" href="/signup">Sign Up</a>
        </div>
    </nav>
</header>
{% block body %} {% endblock body %}
<script>
window.embeddedChatbotConfig = {
chatbotId: "LUPkFPrG8d2THg6ZlIeet",
domain: "www.chatbase.co"
}
</script>
<script
src="https://www.chatbase.co/embed.min.js"
chatbotId="LUPkFPrG8d2THg6ZlIeet"
domain="www.chatbase.co"
defer>
</script>
<footer>
        <div>
            <h2 style="color: white;font-size: 30px; text-align: left; padding-left: 30px">DisasterAid</h2>
            <nav class="footer-nav">
            <div><a href="/home">Home</a>
            <a href="/contact">Contact us</a>
            <a href="/services">Services</a>
            </div>
            </nav>
        </div>
        <div class="subscription-form">
            <h3 style="color: white;font-size: 25px;">Subscribe via Email</h3>
            <form>
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="submit" value="Subscribe">
            </form>
        </div>
    </footer>

</body>
</html>